:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: #303841;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem; 
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

header {
    position: fixed;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
}